body {
  overflow-x: hidden;
  background-color: #111;
}

a {
  color: white;
  text-decoration: none;
}

.offcanvas-body {
  overflow-x: hidden;
}

.fa-brands {
  color: white;
}

.fa-brands:hover {
  color: #af0505;
}

.name {
  color: white;
}
