body {
  overflow-x: hidden;
  background-color: #111;
}

a {
  color: white;
  text-decoration: none;
}

.offcanvas-body {
  overflow-x: hidden;
}

.fa-brands {
  color: white;
}

.fa-brands:hover {
  color: #af0505;
}

.name {
  color: white;
}

.resume-icon {
  height: 2rem;
  margin-left: 1rem;
}

.skills-icons {
  height: 3.75rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  color: white;
}
