@media (min-width: 1000px) {
  .homepage {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 70%;
  }

  .nav-container {
    background-color: black;
    width: 25%;
    overflow-y: auto;
  }

  .projects {
    position: absolute;
    top: 2%;
    left: 28%;
    width: 70%;
  }

  .project-card {
    background-color: #111;
  }

  .project-image {
    height: 27rem;
  }

  .skills-page {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 85%;
  }

  .skills-card {
    width: 80%;
    background-color: #111;
  }

  .home-card {
    width: 100%;
    margin-left: 4rem;
    background-color: #111;
  }

  .about-card {
    width: 100%;
    background-color: #111;
  }

  .mobile-nav-bar {
    display: none;
  }

  .logo {
    height: 200px;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }

  .active {
    background-color: #af0505;
    color: white;
  }

  .contact-page {
    position: absolute;
    top: 20%;
    left: 35%;
    width: 75%;
  }

  .contact-header {
    margin-left: 6rem;
  }

  .contact-details {
    margin-left: 5rem;
    width: 70%;
  }

  .socials {
    height: 5rem;
    width: 85%;
    margin: 3rem 3rem 1rem 1rem;
  }

  .icons {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .name:hover {
    color: #fff;
    text-shadow: 0 0 10px #af0505, 0 0 20px #fff, 0 0 40px #fff;
  }

  .home-title {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #fff;
  }

  .animation {
    text-align: center;
    text-transform: uppercase;
    animation: animate 10s forwards;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #af0505, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }

  .opening-text {
    width: 40rem;
    animation:
      animated-text 5s linear 3s 1 normal both,
      animated-cursor 500ms linear infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
  }

  @keyframes animated-cursor {
    from {
      border-color: transparent;
    }

    to {
      border-color: transparent;
    }
  }

  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }
}
